a {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

google-map {
  display: inline-block;
  width: 80%;
  position: absolute !important;
  top: 0;
  left: 0;
  bottom: 0;
}

google-map.small {
  width: 60%;
}

.map-container {
  width: 100%;
  height: 100%;
}

directions-panel {
  display: block;
  position: absolute;
  right: 20%;
  width: 20%;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  padding: 5px;
  box-sizing: border-box;
}

side-bar {
  display: inline-block;
  width: 20%;
  overflow-y: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 5px;
  box-sizing: border-box;
}
